{{=<% %>=}}
<div>
    <core-course-module-description description="<% gamoteca.intro %>" component="mod_gamoteca" componentId="<% cmid %>"></core-course-module-description>


    <ion-item  text-center>
        <img src="<% logogamoteca %>" core-external-content component="mod_gamoteca" style="width:250px">
    </ion-item>
    <ion-item text-wrap text-center>
   	    <p>
    		{{ 'plugin.mod_gamoteca.gameotecatextmobile' | translate }}
    	</p>
    </ion-item>
    <ion-item text-center>
        <a href="<% link %>" target="_blank" core-link class="gamoteca-open-link">{{ 'plugin.mod_gamoteca.gameotecatextmobileopen' | translate }}</a>
    </ion-item>
    <ion-item text-wrap text-center>
   	    <p>
    		{{ 'plugin.mod_gamoteca.gameotecatextmobilepost' | translate }}
    	</p>
    </ion-item>

</div>