{{!
    This file is part of Gamoteca plugin for Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template mod_gamoteca/mobile_view_page.mustache

    This template renders the gamoteca game link to open externally
}}
{{=<% %>=}}
<div>
    <%#canusemoduleinfo%>
        <core-course-module-info [module]="module" description="<% gamoteca.intro %>" component="mod_gamoteca" componentId="<% cmid %>" [courseId]="courseId">
        </core-course-module-info>
    <%/canusemoduleinfo%>
    <%^canusemoduleinfo%>
        <core-course-module-description description="<% gamoteca.intro %>" component="mod_gamoteca" componentId="<% cmid %>"></core-course-module-description>
    <%/canusemoduleinfo%>

    <ion-item  text-center>
        <img src="<% logogamoteca %>" core-external-content component="mod_gamoteca" style="width:250px">
    </ion-item>
    <ion-item text-wrap text-center>
   	    <p>
    		{{ 'plugin.mod_gamoteca.gameotecatextmobile' | translate }}
    	</p>
    </ion-item>
    <ion-item text-center>
        <a href="<% link %>" target="_blank" core-link class="gamoteca-open-link">{{ 'plugin.mod_gamoteca.gameotecatextmobileopen' | translate }}</a>
    </ion-item>
    <ion-item text-wrap text-center>
   	    <p>
    		{{ 'plugin.mod_gamoteca.gameotecatextmobilepost' | translate }}
    	</p>
    </ion-item>

</div>
